<!--LIFECYCLE<app-life-cycle nome="Tá" *ngIf="isAliveLyfeCicle"></app-life-cycle>
<button (click)="killit()">Kill</button>-->

<!--NGFOR<app-spage *ngIf="isAliveSPage; else anotherblock"></app-spage>

<button (click)="isalive(isAliveSPage)">Switch</button>

<ng-template #anotherblock>
    segredo
</ng-template>-->
<!-- DIRETIVAS DE ATRIBUTOS<app-diratributos>
    <p>ngContent</p>
    <h1>Esse elemento está escrito no app.component</h1>
</app-diratributos>-->

<app-input></app-input>
<app-list-view></app-list-view>
<app-teste></app-teste>