h1{
    padding-bottom: 1vh;
}
h2 {
    padding-bottom: 3vh;
}
button {
	background-color:#000000;
	border-radius:3px;
	border:1px solid #ff4655;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    width: 19vh;
}
button:hover {
	background-color:#f5f5f5;
    color: #000000;
}