<h1>Bem-vindo à Tabelinha</h1>
<h2>Randomize seu Valorant</h2>
    <div id="box">
        <div>
            <span>Players</span>
            <input type="number" id="numberInput" max="5" min="1">
        </div>
        <div> 
            <span>Armas</span>
            <label class="switch" name="checkguns">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <!--<span>Time</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>-->
            </div>
        <div>
            <span>Estratégia</span>
            <label class="switch" name="checkstrat">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <input type="submit" value="Randomizar" id="submitButton">