
<body>
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
        <div id="titulo">
            <a href="">
                <img id="titulo_logo" src="{{ logo }}" alt="logo-site">
            </a>
            <img id="titulo_escrito" src="{{nomesite}}" alt="" srcset="">
        </div>

        <div id="navegacao">
            <a href="http://">Geral</a>
            <a href="http://">Competitivo</a>
            <a href="http://">Counter-Strike</a>
            <a href="http://">Valorant</a>
            <a href="http://"a>Overwatch</a>
            <a href="http://">Warzone</a>
        </div>
    </div>
</body>
