/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
html, body{
    height: 100%;
    background: url("./assets/images/background.jpg");
    background-size: 250px;
}