#title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.subt{
    font-family:"Arial";
    font-weight: normal;
    text-align: center;
}
.imag{
    align-content:stretch;
    max-width: 800px;
    border-color: rgb(61, 68, 97);
    border-width: 2px;
    border-style: solid;
    display: block;
    margin: auto;
}
#body{
    background-color: black;
    color: rgb(255, 255, 255);
}
.texto{
    color: rgb(61, 68, 97);
}
.lnk{
    display: flex;
    flex-flow: column;
}
.item{
    margin: 5px;
    color: rgb(61, 68, 97);
}