h1{
    margin-top: -5vh;
}
#agents{
    list-style: none;
    display: flex;
    margin: 0vh 0 2vw 0.5vw;
    justify-content: space-evenly;
    
}

#strats{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 0 0 0;
    border-top: 2px solid #ff4655;
    padding-top: 10vh;
}
#strats > li{
    font-size: 3vh;
    width: 33vw;
}

#strats > :not( :nth-child(3)){
        border-right: 2px solid #ff4655;
}

button {
    position: absolute;
	background-color:black;
	border:2px solid #ff4655;
	display:inline-block;
	cursor:pointer;
	padding:13px 0px;
	text-decoration:none;
    width: 2vw;
    height: 3.5vh;
}
button:hover {
	background-color:#ff4655;
}
button:active {
	position:relative;
	top:1px;
}
svg{
    position: relative;
    bottom: 1.0vh;
    width: 1.2vw;
}
button:nth-child(2){
    top: 3vh;
    right: 6vw;
}
button:nth-child(1){
    top: 3vh;
    right: 3vw;
}