*{
    color: black;
}
body{
    width: 50.5vw;
    height: 110vh;
    margin: 0 2vw 0 4vw;
    padding: 2%;
    border: 3px solid black;
    background: #AAA9AD;
    display: flex;
    flex-direction: column;
    padding: 5vh 4vw;
    
}
h1{
    text-align: center;
    margin: 2vh 0;
}
span{
    text-align: end;
    margin: 2vh 3vw;
}
img{
    width: 40vw;
    margin: 4vh 5.5vw;
}
