<app-site-header></app-site-header>
<div style="display: flex; justify-content: space-around;">
    <app-main-area noticemainimg="../../assets/images/image.svg" noticetitle="Título da notícia" shortnotice="Aqui é um resumo da postagem, onde deve-se escrever de maneira suscita o que se trata a notícia ou postagem. Aqui é um resumo da postagem, onde deve-se escrever de maneira suscita o que se trata a notícia ou postagem. Aqui é um resumo da postagem, onde deve-se escrever de maneira suscita o que se trata a notícia ou postagem." noticedate="00/00/0000"></app-main-area>
    <app-side-bar sidetitle="Histórico" noticemainimg="../../assets/images/image.svg" noticetitle="Título da notícia"></app-side-bar>
</div>
<hr>
<div id="footer">
    <h1>Site desenvolvido por <br/> Kevin V. Carvalho</h1>
</div>